secrets = {
    "debug": False,
    "ssid": "MyWifiSSID",
    "password": "SecretWifiPassword",
    "matrix_width": 64,
    "matrix_height": 64,
    "matrix_bit_depth": 4,
    "matrix_color_order": "RGB",
    "ntp_enable": True,
    "ntp_interval": 3600, # 1 hour in seconds
}
